#
# hostnames

CHAT_SERVER_DB_SERVICE="chat-server-db"
MQ_SERVICE="mq"
MAIN_DB_SERVICE="main-db"

#
# chat-server specific config

BACKEND_CORS_ORIGINS=["http://localhost:8000", "https://localhost:8000", "http://localhost", "https://localhost", "http://localhost:9999"]

REDIS_URL="redis://${CHAT_SERVER_DB_SERVICE}"

IP_API="http://ip-api.com/json"

SERVER_NAME="Local Test"
ADVERTISED_ADDRESS="localhost"
ADVERTISED_PORT="8000"

#
# general config

JWT_SECRET="super_secret"

RABBITMQ_DEFAULT_USER="user"
RABBITMQ_DEFAULT_PASS="password"

BROKER_URL="amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${MQ_SERVICE}"

POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="meepo"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${MAIN_DB_SERVICE}/${POSTGRES_DB}"
